*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

body {
  
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

